__pycache__/
core/__pycache__/
web/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
ENV/
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
logs/
log/
downloads/
html_logs/
**/html_logs/**
**/html_logs/*.html
**/html_logs/*.json
reports/
.cache/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
